section {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.a {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/images/bg/tnc_events1.jpg");
}

.b {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/images/bg/tnc_events2.jpg");
}

.wrapper {
  display: flex;
  column-gap: 150px;
  width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}

.wrapper > div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/static/images/bg/wavy_line.jpg");
  border-radius: 30px;
  border: #000 8px solid;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  text-align: center;
  width: 325px;
  padding: 25px;
  height: 300px;
}
.wrapper img {
  width: 200px;
  height: 120px;
  object-fit: contain;
}

.wrapper p {
  text-align: justify;
  margin-bottom: 0;
}

.title {
  text-align: center;
  padding-top: 100px;
}

.title > div {
  text-shadow: #000 5px 2px 5px;
}

.title > div:first-child {
  font-size: 40px;
  font-weight: 700;
}

.title > div:last-child {
  font-size: 25px;
  font-weight: 500;
}
