section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/static/images/players/tnc1.webp");
}

.hero-section .container {
  display: flex;
  gap: 100px;
  width: 75vw;
  margin: 220px 0 75px 0;
}

.hero-section .hero-logo {
  text-align: center;
  width: 40%;
  margin-top: -55px;
}

.hero-section .hero-logo img:first-child {
  width: 100%;
}

.hero-section .hero-logo img:last-child {
  width: 60%;
  height: 115px;
  object-fit: cover;
  object-position: center;
  margin-top: -10px;
}

.hero-section .hero-text {
  text-align: center;
  width: 60%;
}

.hero-section .hero-text .slogan {
  line-height: 40px;
  margin-bottom: 35px;
}

.hero-section .hero-text .slogan span:first-child {
  font-family: "Irish Grover";
  font-size: 13vw;
  color: #fd6939;
  text-shadow: #000 5px 2px 5px;
}

.hero-section .hero-text .slogan span:last-child {
  font-size: 4.5vw;
  font-weight: bold;
}

.hero-section .hero-text p {
  font-size: 24px;
  text-align: justify;
  margin-bottom: 75px;
}

.hero-section .hero-text .game-logos img {
  width: 32%;
  height: 100px;
  object-fit: contain;
}

.about-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/static/images/players/tnc2.jpeg");
}

.about-section .container {
  display: flex;
  gap: 100px;
  width: 85vw;
  margin: 75px 0;
}

.about-section .about-image {
  width: 30%;
}

.about-section .about-image img {
  width: 360px;
  height: 550px;
  object-fit: cover;
}

.about-section .about-text {
  width: 70%;
}

.about-section .about-text span:first-child {
  font-size: 84px;
  font-weight: 600;
}

.about-section .about-text p {
  font-size: 24px;
  margin: 45px 0 75px 75px;
  line-height: 34px;
}

.about-section .about-text .team-logos {
  display: flex;
}

.about-section .about-text .team-logos > div {
  width: 25%;
  text-align: center;
  font-size: 18px;
}

.about-section .about-text .team-logos img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.team-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/static/images/brands/tnc_header.png");
  background-color: #000;
  background-size: 60% !important;
  background-position: center;
}

.team-section .team-members {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
}

.team-section .team-members > div {
  flex: 1 1 calc(33.33% - 20px);
  box-sizing: border-box;
}

.team-section .team-members > div:nth-child(4) {
  margin-left: 10vw;
}
.team-section .team-members > div:nth-child(5) {
  margin-right: 10vw;
}

.team-section .member {
  text-align: center;
  font-size: 24px;
}
.team-section .member img {
  width: 200px;
  border-radius: 50px;
  height: 250px;
}

.team-section .container {
  width: 75vw;
  margin: 75px 0;
}

.team-section .container > div:first-child {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 50px;
  text-align: center;
}

body,
html {
  margin: 0;
  padding: 0;
}

.sectionA {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/static/images/players/TNC\ pro\ team\ bg\ events.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 132vh;
}
.sectionB {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/static/images/players/M6\ Events\ background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.major {
  text-align: center;
  color: white;
}

.tnc-text h1,
.tnc-text p {
  padding: 58px 0 0 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 60px;
}
.major-text h2,
.major-text p {
  padding: 0;
  margin-top: 0;
  font-weight: bold;
  font-size: 38px;
}
.image-wrapper {
  display: inline-block;
  padding: 10px;
  background: #000000;
  border-radius: 40px;
}

.image-wrapper img {
  z-index: 0;
  height: 475px;
  width: 530px;
  display: block;
  border-radius: 40px;
}

.image-wrapper2 {
  gap: 20px;
  display: flex;
  padding: 10px 10px 10px 10px;
  background: #000000;
  border-radius: 40px;
}
.image-wrapper2 img {
  z-index: 0;
  padding: 0 0 0 0px;
  width: 542px;
  height: 473px;
  float: left;
  position: relative;
  display: flex;
  justify-content: flex-end;
  border-radius: 40px;
}
.parent-container {
  padding: 0 0 0 58px;
  display: flex;
}
.parent-container1 {
  padding: 0 0 0 0;
}
